@import url('https://fonts.cdnfonts.com/css/star-wars');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("Components/img/space-backgroud.jpg");
}

#root {
  width: 100vw;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title{
  display: flex;
}

button {
  background-color: yellow;
  border: none;
  color:black;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.category{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category h1{
  font-family: 'Star Wars', sans-serif;
  margin-top: 40px;
  color: yellow;
}

.category ul{
  list-style-type: none;
}

.category li{
  color:yellow;
  margin-top: 10px;
}

.category a{
  color:yellow;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  font-size: larger;
}

.category a:hover{
  color: white;
}